{#------------------- ingredient show ------------------------#}

{% extends "base.html.twig" %}

{# titre de la page #}
{% block title %}{{ingredient.name}}{% endblock title %}


{% block body %}

{% include '/header/header-logged.html.twig' %}


<div class="m-5 container-ingredient">

    <div class="container-left">
        <h1><span>Ingrédient:</span>{{ingredient.name}}</h1>

        <div class="ingredient-img-container">
            <img src="{{asset('images/ingredients/'~ingredient.image)}}" alt="{{ingredient.name}}">
        </div>


        {%if ingredient.namemany is defined and ingredient.namemany !=null %}
            <div class="ingredient-nom-pluriel">
                <p>("{{ingredient.namemany}}" au pluriel)</p>
            </div>
        {%endif%}
    </div>


    <div class="container-right">
    <h3>les recettes associées:</h3>

        {% include '/recipe/recipe-list.html.twig' with {'recipes': recipes, 'filters': false, 'show_from_ingredient': true} %}
    </div>


</div>








{% endblock body %}
