{% block recipe_list %}


<div class="list-grid">

    {# NO RECIPIES TO SHOW #}
    {% if recipes is empty %}

                no recipes

    {% else %}
    
        {% for recipe_common_ingredients in recipes|reverse %}
            {% for recipe in recipe_common_ingredients%}
                <a href="{{ path('recipe_show', {'slug': recipe.slug, 'id': recipe.id}) }}">
                    <div class="list-card-recipe-container">
                        {%if recipe.favorite == 1 %}
                            <div class="list-card-favorite">
                                <p>♥️</p>
                            </div>
                        {% endif %}
                            <div class="list-card-image">
                                <img class="recipe-image" src="{{ asset('images/recipes/' ~ recipe.image) }}" alt="{{ recipe.name }}">
                            </div>
                        <div class="list-card-bottom-container">
                            <div class="list-card-name">
                                <h2>{{ recipe.name|capitalize }}</h2>
                            </div>
                            <div class="list-card-text">
                            <p>{{ recipe.recipe_text }}</p>
                            </div>

                            <div class="list-card-infos-container">
                                <p>🕑: {{recipe.prep_time}}</p>
                                <p>🍽️: {{recipe.people}} personnes</p>
                            </div>
                        </div>

                        {% if filters_ing == true %}
                            <div class="list-card-common-ingr">
                                {{ recipe.common_ingr_number }} ingrédients communs
                            </div>
                        {% endif %}

                        
                        {#
                        <div class="list-card-text">
                            {% for ingredient in recipe.ingredients.length %}
                                <span class="badge badge-primary">{{ ingredient }}</span>
                            {% endfor %}
                        </div>
                        #} 

                    </div>
                </a>
            {% endfor %}
        {% endfor %}

    {% endif %}

</div>


{% endblock %}
