{% block recipe_list %}


<div class="list-grid">

    {# NO RECIPIES TO SHOW #}
    {% if recipes is empty %}

                no recipes

    {% else %}
    
        {# RECIPIES TO SHOW #}
        {% if filters == true %}

            {% for recipe_common_ingredients in recipes|reverse %}
                {% for recipe in recipe_common_ingredients%}
                    <a href="{{ path('recipe_show', {'slug': recipe.slug, 'id': recipe.id}) }}">
                        <div class="list-card-recipe-container">
                            <div class="list-card-image">
                                <img class="recipe-image" src="{{ asset('images/recipes/' ~ recipe.image) }}" alt="{{ recipe.name }}">
                            </div>
                            <div class="list-card-name">
                                <h2>{{ recipe.name|capitalize }}</h2>
                            </div>
                            <div class="list-card-text">
                                <p>Lorem ips umdz ea mcihd zeiaupdh,zeaiudh nzeaouydg nzeaouygdzea uyg,dza euyg ,dzaeouy,</p>
                            </div>
                            <div class="list-card-text">
                                {% for ingredient in recipe.ingredients %}
                                    <span class="badge badge-primary">{{ ingredient }}</span>
                                {% endfor %}
                            </div>

                        </div>
                    </a>
                {% endfor %}
            {% endfor %}

            {#if no filters#}
        {% elseif filters == false %}

                {% for recipe in recipes%}
                        <a href="{{ path('recipe_show', {'slug': recipe.slug, 'id': recipe.id}) }}">
                            <div class="list-card-recipe-container">
                                <div class="list-card-image">
                                    <img class="recipe-image" src="{{ asset('images/recipes/' ~ recipe.image) }}" alt="{{ recipe.name }}">
                                </div>
                                <div class="list-card-name">
                                    <h2>{{ recipe.name|capitalize }}</h2>
                                </div>
                                <div class="list-card-text">
                                    <p>Lorem ips umdz ea mcihd zeiaupdh,zeaiudh nzeaouydg nzeaouygdzea uyg,dza euyg ,dzaeouy,</p>
                                </div>
                            </div>
                        </a>

                {% endfor %}
        {% endif %}

    {% endif %}

</div>


{% endblock %}
